@import '../_variables';

body {
  font-family: $font-stack;
  background-color: #eef1f5;
  margin: 0;
  padding: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  //content: "/";
  content: " → ";
  padding: 0 .5rem;
}