@use 'variables' as *;

/* --------------------------------------------------------------------------
 * Modal stack
 * -------------------------------------------------------------------------- */

.modal-stack-under {
  .modal-content {
    opacity: $modal-stack-under-opacity;
    filter: brightness($modal-stack-under-brightness);
    transition: $modal-stack-transition;
  }
}

.modal-stack-top {

  .modal-content {
    box-shadow: $modal-stack-top-shadow;
    transition: $modal-stack-transition;
  }

  .modal-header {
    background-color: $modal-stack-header-bg;
    color: $modal-stack-header-color;
    transition: $modal-stack-transition;
  }

  .btn-close {
    filter: invert(1);
  }
}

/* --------------------------------------------------------------------------
 * Reference selector tree
 * -------------------------------------------------------------------------- */
.me-1 {
  margin-right: 0.3rem !important;
  font-size: x-large;
  line-height: 0.5;
}

.tree-marker,
.tree-label {
  cursor: pointer;
}

.tree-marker:hover,
.tree-label:hover {
  color: var(--bs-primary);
}
