// Цвета фона
$bg-backend: #eef1f5;
$bg-frontend: #f9f9f9;

// Типографика
$font-family-base: "Segoe UI", sans-serif;

// Отступы
$spacer: 1rem;
$spacer-sm: 0.5rem;
$spacer-lg: 1.5rem;

// Компоненты
$breadcrumb-separator: " → ";
$dev-info-width: 100px;
$dev-info-margin: 20px;